/* fix positioning if more than one jot tool */
#profile-jot-plugin-wrapper {
	width: 100%;
	margin-top: 10px;
}
.jotplugins > div,
#profile-jot-plugin-wrapper > div {
	float: left;
}
	.jotplugins::after,
	#profile-jot-plugin-wrapper::after {
		content: '';
		display: block;
		clear: both;
	}

#profile-smiley-wrapper {
	display: block;
}

#smileybutton {
	display: none;
	position: absolute;
	background-color: #FFF;
	width: auto;
	border-radius: 8px;
	padding: 10px;
	z-index: 99;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.7);
	box-shadow: 0 0 5px rgba(0,0,0,.7);
}
	.jotplugins #smileybutton {
		position: absolute;
	}
.smiley_button > img {
	height: 22px;
	width: 22px;
	position: relative;
	left: 0px;
	margin: 4px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

div.smiley-preview img.smiley {
	max-height: 25px;
	max-width: 25px;
	cursor: pointer;
	vertical-align: baseline;
}

div.smiley-preview {
	border: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
	max-height: 200px;
	overflow: auto;
}

div.smiley-preview > span {
	cursor: pointer;
	font-size: 24px;
	padding: 5px;
	text-align: center;
	width: 45px;
	height: 45px;
	line-height: 45px;
	float: left;
	display: block;
}
	div.smiley-preview > span:hover,
	div.smiley-preview > span:focus {
		background-color: rgba(0,0,0,.1);
	}
	div.smiley-preview::after {
		content: '';
		display: block;
		clear: both;
	}
